.feature__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    background-color: $teamBackground;
    margin-bottom: 30px;
   
  
@media screen and(min-width:$mobile){
    width: 450px;
}
  @media screen and(min-width:$tablet) {
      width: 354px;
      
  }
   @media screen and(min-width:$desktop) {
       width: 270px;

   }
   
}

.feature__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
@media screen and(max-width:747px){
  
   text-align: center;
}
        
    }


.feature__item {
   
  @media screen and(min-width:$tablet){
     width: 354px;
  }
   @media screen and (min-width:$desktop) {
       width: 270px;
   }
}

.feature__list {
    @media screen and (min-width:$tablet){
        display: flex;
        gap: 30px;
        @media screen and(max-width:1199px){
        flex-wrap: wrap;
        }
    }
    


& .feature__item:not(:last-child) {
   @media screen and (min-width:$desktop){
    margin-right: 30px;
   }
   
}}

.feature__description {
    line-height: 1.71;
    color: var(--second-color);
    @media screen and(min-width:$mobile){
        margin-bottom: 30px;
    }
}