.footer__field {
     @media screen and(max-width:1199px){
       margin-bottom: 20px; 
     }
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;

&::placeholder {
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);  }      

&:not(:placeholder-shown) {
    border-color: var(--accent-color);
    color: var(--background-color);
    padding-left: 30px;
}}

.footer__form-button {
    @extend .button;
   
        display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12px;
    min-width: 200px;
}
