.work__title,
.team__title,
.clients__title {
    @media screen and(max-width:1199px){
      margin-bottom: 30px; 
      font-size: 28px; 
      line-height: 1.17;
    }
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.team__position,
.project-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-color);
}