*,
*::before,
*::after {
    box-sizing: border-box;
}

$colorIcon:#afb1b8;
$footerBackground:#2F303A;
$teamBackground: #f5f4fa;
$mainFontfamily: Roboto, sans-serif;
$logoFontfamily:Raleway;
$logocolor:#000000;
:root {
    --primary-color: #212121;
    --second-color: #757575;
    --accent-color: #2196f3;
    --background-color: #ffffff;
}

body {
    font-family:$mainFontfamily;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    background-color: var(--background-color);
}
/*breakpoints*/ 
$mobile:480px;
$tablet:768px;
$desktop:1200px;